header {
    background: none repeat scroll 0 0 darkgreen;
    color: greenyellow;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 darkgreen;
    color: greenyellow;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0px;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 100%;
    background: white;
    color: black;
}

.colortext {
    font-size: 85%;
    color: darkgrey;
    font-style: italic;
}

table {
    border-spacing: 7px 2px; /* Расстояние между ячейками */
}

td {
    padding: 5px; /* Поля вокруг текста */
}

button.key {
    color: #fff;
    background: green;
    height: 26px;
    /*padding: 5px;*/
    border-radius: 8px;
    border: 2px solid;
}

button.key:hover {
    background: limegreen;
}

ul {
    margin-block-start: 5px;
    margin-block-end: 5px;
}